DW2023-DataFactory/pipeline/plCopyClue.json
{
	"name": "plCopyClue",
	"properties": {
		"description": "pipeline to get data from a secure file system and load it into raw",
		"activities": [
			{
				"name": "log pipeline start",
				"description": "log pipeline start",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:05:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adf].[uspLogExecutionMessage]",
					"storedProcedureParameters": {
						"dataSourceId": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"dataProcessId": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"executionLogSubject": {
							"value": {
								"value": "Start of pipeline: @{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"executionLogMessage": {
							"value": "STARTING: Starting execution of the pipeline",
							"type": "String"
						},
						"dataFactoryName": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineTriggerID": {
							"value": {
								"value": "@pipeline().TriggerId",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineTriggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineTriggerTimestamp": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"PipelineTriggerType": {
							"value": {
								"value": "@pipeline().TriggerType",
								"type": "Expression"
							},
							"type": "String"
						},
						"executionTimestamp": {
							"value": {
								"value": "@utcnow('yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"isStart": {
							"value": "true",
							"type": "Boolean"
						},
						"isEnd": {
							"value": "false",
							"type": "Boolean"
						},
						"isError": {
							"value": "false",
							"type": "Boolean"
						},
						"isInnerActivity": {
							"value": "false",
							"type": "Boolean"
						},
						"isIncremental": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "Boolean"
						},
						"objectName": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "String"
						},
						"objectSchema": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lsAsqlManagedIdentity",
					"type": "LinkedServiceReference",
					"parameters": {
						"connectionString": "sec-metadata-db-connection-string"
					}
				}
			},
			{
				"name": "lookup objects",
				"description": "lookup tables that are enabled in metadata table",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "log pipeline start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:05:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT\n      *\nFROM adf.DataSource\nWHERE \n   dataSourceType = 'SFTP File'\n   AND (nullif('@{pipeline().parameters.dataSourceName}','-') is null OR dataSourceName IN (SELECT TRIM(VALUE) FROM STRING_SPLIT('@{pipeline().parameters.dataSourceName}', ',')))\n   AND (nullif('@{pipeline().parameters.objectSchema}','-') is null OR objectSchema IN (SELECT TRIM(VALUE) FROM STRING_SPLIT('@{pipeline().parameters.objectSchema}', ',')))\n   AND (nullif('@{pipeline().parameters.objectName}','-') is null OR objectName IN (SELECT TRIM(VALUE) FROM STRING_SPLIT('@{pipeline().parameters.objectName}', ',')))\n   AND (nullif('@{pipeline().parameters.batchGroup}','-') is null OR batchGroup IN (SELECT TRIM(VALUE) FROM STRING_SPLIT('@{pipeline().parameters.batchGroup}', ',')))\n   AND isEnabled = 1                  ",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dsAsqlManagedIdentity",
						"type": "DatasetReference",
						"parameters": {
							"connectionString": {
								"value": "@variables('metadataConnectionString')",
								"type": "Expression"
							},
							"schema": "-",
							"tableName": "-"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "for each object",
				"description": "perform a series of steps for each metadata item found in the lookup activity",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "set utc timestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "lookup objects",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "set local timestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Switch1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lookup objects').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 5,
					"activities": [
						{
							"name": "log item start",
							"description": "start item logging",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:05:00",
								"retry": 3,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[adf].[uspLogExecutionMessage]",
								"storedProcedureParameters": {
									"dataSourceId": {
										"value": {
											"value": "@item().dataSourceId",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"dataProcessId": {
										"value": {
											"value": "@coalesce(null)",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"executionLogSubject": {
										"value": {
											"value": "Start of inner activity for pipeline: @{pipeline().Pipeline}",
											"type": "Expression"
										},
										"type": "String"
									},
									"executionLogMessage": {
										"value": "Started copying objects and converting to delta tables",
										"type": "String"
									},
									"DataFactoryName": {
										"value": {
											"value": "@pipeline().DataFactory",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineRunID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerID": {
										"value": {
											"value": "@pipeline().TriggerId",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerName": {
										"value": {
											"value": "@pipeline().TriggerName",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerTimestamp": {
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"PipelineTriggerType": {
										"value": {
											"value": "@pipeline().TriggerType",
											"type": "Expression"
										},
										"type": "String"
									},
									"executionTimestamp": {
										"value": {
											"value": "@utcnow('yyyy-MM-dd HH:mm:ss')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"IsStart": {
										"value": "true",
										"type": "Boolean"
									},
									"IsEnd": {
										"value": "false",
										"type": "Boolean"
									},
									"IsError": {
										"value": "false",
										"type": "Boolean"
									},
									"IsInnerActivity": {
										"value": "true",
										"type": "Boolean"
									},
									"IsIncremental": {
										"value": {
											"value": "@coalesce(null)",
											"type": "Expression"
										},
										"type": "Boolean"
									},
									"ObjectName": {
										"value": {
											"value": "@item().objectName",
											"type": "Expression"
										},
										"type": "String"
									},
									"ObjectSchema": {
										"value": {
											"value": "@item().objectSchema",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "lsAsqlManagedIdentity",
								"type": "LinkedServiceReference",
								"parameters": {
									"connectionString": "sec-metadata-db-connection-string"
								}
							}
						},
						{
							"name": "log item end",
							"description": "end item logging",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "if file had zero rows",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:05:00",
								"retry": 3,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[adf].[uspLogExecutionMessage]",
								"storedProcedureParameters": {
									"dataSourceId": {
										"value": {
											"value": "@item().dataSourceId",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"dataProcessId": {
										"value": {
											"value": "@coalesce(null)",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"executionLogSubject": {
										"value": {
											"value": "End of inner activity for pipeline: @{pipeline().Pipeline}",
											"type": "Expression"
										},
										"type": "String"
									},
									"executionLogMessage": {
										"value": "Ended copying objects and converting to delta tables",
										"type": "String"
									},
									"dataFactoryName": {
										"value": {
											"value": "@pipeline().DataFactory",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipelineRunID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipelineTriggerID": {
										"value": {
											"value": "@pipeline().TriggerId",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipelineTriggerName": {
										"value": {
											"value": "@pipeline().TriggerName",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipelineTriggerTimestamp": {
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"pipelineTriggerType": {
										"value": {
											"value": "@pipeline().TriggerType",
											"type": "Expression"
										},
										"type": "String"
									},
									"executionTimestamp": {
										"value": {
											"value": "@utcnow('yyyy-MM-dd HH:mm:ss')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"isStart": {
										"value": "false",
										"type": "Boolean"
									},
									"isEnd": {
										"value": "true",
										"type": "Boolean"
									},
									"isError": {
										"value": "false",
										"type": "Boolean"
									},
									"isInnerActivity": {
										"value": "true",
										"type": "Boolean"
									},
									"isIncremental": {
										"value": "false",
										"type": "Boolean"
									},
									"objectName": {
										"value": {
											"value": "@item().objectName",
											"type": "Expression"
										},
										"type": "String"
									},
									"objectSchema": {
										"value": {
											"value": "@item().objectSchema",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "lsAsqlManagedIdentity",
								"type": "LinkedServiceReference",
								"parameters": {
									"connectionString": "sec-metadata-db-connection-string"
								}
							}
						},
						{
							"name": "copy data",
							"description": "copy tables to raw parquet",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "log item start",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.06:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "SftpReadSettings",
										"recursive": false,
										"wildcardFolderPath": "/IN",
										"wildcardFileName": {
											"value": "@{replace(item().objectName,'_','')}_@{formatDateTime(variables('localTimestamp'), 'yyyy')}@{formatDateTime(variables('localTimestamp'), 'MM')}@{formatDateTime(variables('localTimestamp'),'dd')}*.txt",
											"type": "Expression"
										},
										"deleteFilesAfterCompletion": false,
										"disableChunking": false
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "SftpWriteSettings",
										"operationTimeout": "01:00:00",
										"useTempFileRename": true
									}
								},
								"enableStaging": false,
								"parallelCopies": 5
							},
							"inputs": [
								{
									"referenceName": "dsSecureFileSystemUserNameBinaryClue",
									"type": "DatasetReference",
									"parameters": {
										"host": "secureftp.sundt.com",
										"userName": "clueintegrations",
										"connectionSecretName": "sec-clue-sftp-export",
										"directory": "/IN"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "dsSecureFileSystemUserNameBinaryClue",
									"type": "DatasetReference",
									"parameters": {
										"host": "secureftp.sundt.com",
										"userName": "clueintegrations",
										"connectionSecretName": "sec-clue-sftp-export",
										"directory": {
											"value": "@variables('environment_path')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "if file had zero rows",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "copy data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('copy data').output.dataRead, 0)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "copy data arc",
										"description": "copy tables from arch folder to raw parquet",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.06:00:00",
											"retry": 2,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "BinarySource",
												"storeSettings": {
													"type": "SftpReadSettings",
													"recursive": false,
													"wildcardFolderPath": "/IN/ARC",
													"wildcardFileName": {
														"value": "@{replace(item().objectName,'_','')}_@{formatDateTime(variables('localTimestamp'), 'yyyy')}@{formatDateTime(variables('localTimestamp'), 'MM')}@{formatDateTime(variables('localTimestamp'), 'dd')}*.txt",
														"type": "Expression"
													},
													"deleteFilesAfterCompletion": false,
													"disableChunking": false
												},
												"formatSettings": {
													"type": "BinaryReadSettings"
												}
											},
											"sink": {
												"type": "BinarySink",
												"storeSettings": {
													"type": "SftpWriteSettings",
													"operationTimeout": "01:00:00",
													"useTempFileRename": true
												}
											},
											"enableStaging": false,
											"parallelCopies": 5
										},
										"inputs": [
											{
												"referenceName": "dsSecureFileSystemUserNameBinaryClue",
												"type": "DatasetReference",
												"parameters": {
													"host": "secureftp.sundt.com",
													"userName": "clueintegrations",
													"connectionSecretName": "sec-clue-sftp-export",
													"directory": "/IN/ARC"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "dsSecureFileSystemUserNameBinaryClue",
												"type": "DatasetReference",
												"parameters": {
													"host": "secureftp.sundt.com",
													"userName": "clueintegrations",
													"connectionSecretName": "sec-clue-sftp-export",
													"directory": {
														"value": "@variables('environment_path')",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						},
						{
							"name": "error notification 5_copy1",
							"description": "log error and notify users if notifications are enabled",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "if file had zero rows",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "plLogMsgAndSendEmail",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"metadataConnectionString": "sec-metadata-db-connection-string",
									"emailEnabled": {
										"value": "@pipeline().parameters.isEmailNotificationEnabled",
										"type": "Expression"
									},
									"emailNotificationSendToAddress": {
										"value": "@pipeline().parameters.emailNotificationSendToAddress",
										"type": "Expression"
									},
									"emailImportance": "High",
									"emailSubject": {
										"value": "Copy Failure: @{pipeline().Pipeline}",
										"type": "Expression"
									},
									"emailMessage": {
										"value": "The clue file for @{item().objectName} had zero rows, therefore the file probably did not exist.",
										"type": "Expression"
									},
									"emailColor": "Red",
									"executionLogSubject": {
										"value": "End of inner activity for pipeline: @{pipeline().Pipeline}",
										"type": "Expression"
									},
									"executionLogMessage": {
										"value": "The clue file for @{item().objectName} had zero rows, therefore the file probably did not exist.",
										"type": "Expression"
									},
									"dataFactoryName": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"pipelineName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"pipelineRunID": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"pipelineTriggerID": {
										"value": "@pipeline().TriggerId",
										"type": "Expression"
									},
									"pipelineTriggerName": {
										"value": "@pipeline().TriggerId",
										"type": "Expression"
									},
									"pipelineTriggerTimestamp": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"pipelineTriggerType": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"executionTimestamp": {
										"value": "@utcnow('yyyy-MM-dd HH:mm:ss')",
										"type": "Expression"
									},
									"isStart": "false",
									"isEnd": "false",
									"isError": "true",
									"isInnerActivity": "true",
									"isIncremental": "false",
									"objectName": {
										"value": "@item().objectName",
										"type": "Expression"
									},
									"objectSchema": {
										"value": "@item().objectSchema",
										"type": "Expression"
									},
									"dataSourceId": {
										"value": "@item().dataSourceId",
										"type": "Expression"
									},
									"dataProcessId": {
										"value": "@coalesce(null)",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "error notification 1",
				"description": "notify users ",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "lookup objects",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "plLogMsgAndSendEmail",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"metadataConnectionString": "sec-metadata-db-connection-string",
						"emailEnabled": {
							"value": "@pipeline().parameters.isEmailNotificationEnabled",
							"type": "Expression"
						},
						"emailNotificationSendToAddress": {
							"value": "@pipeline().parameters.emailNotificationSendToAddress",
							"type": "Expression"
						},
						"emailImportance": "High",
						"emailSubject": {
							"value": "FAILURE: @{pipeline().Pipeline} Lookup Activity Failure",
							"type": "Expression"
						},
						"emailMessage": {
							"value": "<b>Error Code: </b>@{activity('lookup objects').error.errorCode}\n<br>\n<b>Message: </b>@{activity('lookup objects').error.message}",
							"type": "Expression"
						},
						"emailColor": "Red",
						"executionLogSubject": {
							"value": "Error during pipeline: @{pipeline().Pipeline}",
							"type": "Expression"
						},
						"executionLogMessage": "There was an error on the lookup activity of the pipeline",
						"dataFactoryName": {
							"value": "@pipeline().DataFactory",
							"type": "Expression"
						},
						"pipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"pipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"pipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"pipelineTriggerTimestamp": {
							"value": "@pipeline().TriggerTime",
							"type": "Expression"
						},
						"pipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"executionTimestamp": {
							"value": "@{utcnow('yyyy-MM-dd hh:mm:ss')}",
							"type": "Expression"
						},
						"isStart": "false",
						"isEnd": "false",
						"isError": "true",
						"isInnerActivity": "false",
						"isIncremental": "false",
						"objectName": {
							"value": "@coalesce(null)",
							"type": "Expression"
						},
						"objectSchema": {
							"value": "@coalesce(null)",
							"type": "Expression"
						},
						"dataSourceId": {
							"value": "@coalesce(null)",
							"type": "Expression"
						},
						"dataProcessId": {
							"value": "@coalesce(null)",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "set utc timestamp",
				"description": "set the UTC timestamp which will be later used as part of the downloaded filenames",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "utcTimestamp",
					"value": {
						"value": "@{if(equals(pipeline().parameters.date,'yyyy-MM-dd'),utcnow('yyyy-MM-dd hh:mm:ss'), concat(pipeline().parameters.date, ' 00:00:00'))}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "log pipeline end",
				"description": "log pipeline end",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "for each object",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:05:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adf].[uspLogExecutionMessage]",
					"storedProcedureParameters": {
						"dataSourceId": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"dataProcessId": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"executionLogSubject": {
							"value": {
								"value": "End of pipeline: @{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"executionLogMessage": {
							"value": "This is the end of the pipeline",
							"type": "String"
						},
						"dataFactoryName": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineTriggerID": {
							"value": {
								"value": "@pipeline().TriggerId",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineTriggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineTriggerTimestamp": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"pipelineTriggerType": {
							"value": {
								"value": "@pipeline().TriggerType",
								"type": "Expression"
							},
							"type": "String"
						},
						"executionTimestamp": {
							"value": {
								"value": "@utcnow('yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"isStart": {
							"value": "false",
							"type": "Boolean"
						},
						"isEnd": {
							"value": "true",
							"type": "Boolean"
						},
						"isError": {
							"value": "false",
							"type": "Boolean"
						},
						"isInnerActivity": {
							"value": "false",
							"type": "Boolean"
						},
						"isIncremental": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "Boolean"
						},
						"objectName": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "String"
						},
						"objectSchema": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lsAsqlManagedIdentity",
					"type": "LinkedServiceReference",
					"parameters": {
						"connectionString": "sec-metadata-db-connection-string"
					}
				}
			},
			{
				"name": "set local timestamp",
				"description": "set the local timestamp which will be later used as part of the downloaded filenames",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "localTimestamp",
					"value": {
						"value": "@{if(equals(pipeline().parameters.date,'yyyy-MM-dd'),subtractFromTime(convertTimeZone(utcnow(), 'UTC', 'Pacific Standard Time', 'yyyy-MM-dd HH:mm:ss'), 1 ,'Day'), concat(pipeline().parameters.date, ' 00:00:00'))}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "success notification",
				"description": "notify users ",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "log pipeline end",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "plLogMsgAndSendEmail",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"metadataConnectionString": "sec-metadata-db-connection-string",
						"emailEnabled": {
							"value": "@pipeline().parameters.isEmailNotificationEnabled",
							"type": "Expression"
						},
						"emailNotificationSendToAddress": {
							"value": "@pipeline().parameters.emailNotificationSendToAddress",
							"type": "Expression"
						},
						"emailImportance": "Low",
						"emailSubject": {
							"value": "SUCCESS: @{pipeline().Pipeline}",
							"type": "Expression"
						},
						"emailMessage": {
							"value": "The pipeline @{pipeline().Pipeline} finished successfully",
							"type": "Expression"
						},
						"emailColor": "Green",
						"executionLogSubject": {
							"value": "Successful pipeline execution: @{pipeline().Pipeline}",
							"type": "Expression"
						},
						"executionLogMessage": {
							"value": "The pipeline @{pipeline().Pipeline} finished successfully",
							"type": "Expression"
						},
						"dataFactoryName": {
							"value": "@pipeline().DataFactory",
							"type": "Expression"
						},
						"pipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"pipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"pipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"pipelineTriggerTimestamp": {
							"value": "@pipeline().TriggerTime",
							"type": "Expression"
						},
						"pipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"executionTimestamp": {
							"value": "@{utcnow('yyyyMMddTHH:mm:ss')}",
							"type": "Expression"
						},
						"isStart": "false",
						"isEnd": "true",
						"isError": "false",
						"isInnerActivity": "false",
						"isIncremental": "false",
						"objectName": {
							"value": "@coalesce(null)",
							"type": "Expression"
						},
						"objectSchema": {
							"value": "@coalesce(null)",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "error notification 2",
				"description": "log error and notify users if notifications are enabled",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "for each object",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "plLogMsgAndSendEmail",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"metadataConnectionString": "sec-metadata-db-connection-string",
						"emailEnabled": {
							"value": "@pipeline().parameters.isEmailNotificationEnabled",
							"type": "Expression"
						},
						"emailNotificationSendToAddress": {
							"value": "@pipeline().parameters.emailNotificationSendToAddress",
							"type": "Expression"
						},
						"emailImportance": "High",
						"emailSubject": {
							"value": "FAILURE: Error during pipeline: @{pipeline().Pipeline}",
							"type": "Expression"
						},
						"emailMessage": {
							"value": "There was an error during the ForEach activity of the pipeline @{pipeline().Pipeline}",
							"type": "Expression"
						},
						"emailColor": "Red",
						"executionLogSubject": {
							"value": "Error during pipeline: @{pipeline().Pipeline}",
							"type": "Expression"
						},
						"executionLogMessage": {
							"value": "There was an error during the ForEach activity of the pipeline @{pipeline().Pipeline}",
							"type": "Expression"
						},
						"dataFactoryName": {
							"value": "@pipeline().DataFactory",
							"type": "Expression"
						},
						"pipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"pipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"pipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"pipelineTriggerTimestamp": {
							"value": "@pipeline().TriggerTime",
							"type": "Expression"
						},
						"pipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"executionTimestamp": {
							"value": "@{utcnow('yyyy-MM-dd HH:mm:ss')}",
							"type": "Expression"
						},
						"isStart": "false",
						"isEnd": "false",
						"isError": "true",
						"isInnerActivity": "false",
						"isIncremental": "false",
						"objectName": {
							"value": "@coalesce(null)",
							"type": "Expression"
						},
						"objectSchema": {
							"value": "@coalesce(null)",
							"type": "Expression"
						},
						"dataSourceId": {
							"value": "@coalesce(null)",
							"type": "Expression"
						},
						"dataProcessId": {
							"value": "@coalesce(null)",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Switch1",
				"type": "Switch",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@substring(pipeline().DataFactory,add(indexof(pipeline().DataFactory,'2023-'),5),4)",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "test",
							"activities": [
								{
									"name": "Set ENV_TEST",
									"description": "set value for the environment_path variable",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "environment_path",
										"value": "/IN/TEST"
									}
								}
							]
						},
						{
							"value": "prod",
							"activities": [
								{
									"name": "Set ENV_PROD",
									"description": "set NULL for the environment path variable",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "environment_path",
										"value": "@null"
									}
								}
							]
						}
					],
					"defaultActivities": [
						{
							"name": "Set ENV_DEV",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "environment_path",
								"value": "IN/DEV"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"dataSourceName": {
				"type": "string",
				"defaultValue": "clue"
			},
			"batchGroup": {
				"type": "string",
				"defaultValue": "-"
			},
			"objectSchema": {
				"type": "string",
				"defaultValue": "-"
			},
			"objectName": {
				"type": "string",
				"defaultValue": "-"
			},
			"isEmailNotificationEnabled": {
				"type": "string",
				"defaultValue": "true"
			},
			"emailNotificationSendToAddress": {
				"type": "string"
			},
			"debug": {
				"type": "string",
				"defaultValue": "false"
			},
			"date": {
				"type": "string",
				"defaultValue": "yyyy-MM-dd"
			}
		},
		"variables": {
			"isError": {
				"type": "Boolean"
			},
			"metadataConnectionString": {
				"type": "String",
				"defaultValue": "sec-metadata-db-connection-string"
			},
			"localTimestamp": {
				"type": "String"
			},
			"utcTimestamp": {
				"type": "String"
			},
			"environment_path": {
				"type": "String",
				"defaultValue": "/IN/DEV"
			}
		},
		"folder": {
			"name": "100_sourceToBronze/FileSystem"
		},
		"annotations": [],
		"lastPublishTime": "2023-07-20T18:43:03Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}