DW2023-DataFactory/pipeline/plMonthlyMaintenance.json
{
	"name": "plMonthlyMaintenance",
	"properties": {
		"activities": [
			{
				"name": "error notification 1",
				"description": "notify users ",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "optimize notebooks",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "vacuum notebooks",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "plLogMsgAndSendEmail",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"metadataConnectionString": "sec-metadata-db-connection-string",
						"emailEnabled": {
							"value": "@pipeline().parameters.isEmailNotificationEnabled",
							"type": "Expression"
						},
						"emailNotificationSendToAddress": {
							"value": "@pipeline().parameters.emailNotificationSendToAddress",
							"type": "Expression"
						},
						"emailImportance": "High",
						"emailSubject": {
							"value": "FAILURE: @{pipeline().Pipeline} Lookup Activity Failure",
							"type": "Expression"
						},
						"emailMessage": {
							"value": "<b>Message: </b>Monthly maintenance pipeline failed.",
							"type": "Expression"
						},
						"emailColor": "Red",
						"executionLogSubject": {
							"value": "Error during pipeline: @{pipeline().Pipeline}",
							"type": "Expression"
						},
						"executionLogMessage": "There was an error on the lookup activity of the pipeline",
						"dataFactoryName": {
							"value": "@pipeline().DataFactory",
							"type": "Expression"
						},
						"pipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"pipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"pipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"pipelineTriggerTimestamp": {
							"value": "@pipeline().TriggerTime",
							"type": "Expression"
						},
						"pipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"executionTimestamp": {
							"value": "@{utcnow('yyyyMMddTHH:mm:ss')}",
							"type": "Expression"
						},
						"isStart": "false",
						"isEnd": "false",
						"isError": "true",
						"isInnerActivity": "false",
						"isIncremental": "false",
						"objectName": {
							"value": "@coalesce(null)",
							"type": "Expression"
						},
						"objectSchema": {
							"value": "@coalesce(null)",
							"type": "Expression"
						},
						"dataSourceId": {
							"value": "@coalesce(null)",
							"type": "Expression"
						},
						"dataProcessId": {
							"value": "@coalesce(null)",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "optimize notebooks",
				"description": "",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "log pipeline start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.8:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/data_engineering/maintenance/maintenance_execute_notebooks_in_optimize_folder",
					"baseParameters": {
						"etl_gold_timestamp": {
							"value": "@variables('utcTimestamp')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lsAdbClusterManagedIdentity",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "vacuum notebooks",
				"description": "",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "optimize notebooks",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/data_engineering/maintenance/vacuum/maintenance_vacuum_all_tables",
					"baseParameters": {
						"etl_gold_timestamp": {
							"value": "@variables('utcTimestamp')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lsAdbClusterManagedIdentity",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "success notification",
				"description": "notify users ",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "log pipeline end",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "plLogMsgAndSendEmail",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"metadataConnectionString": "sec-metadata-db-connection-string",
						"emailEnabled": {
							"value": "@pipeline().parameters.isEmailNotificationEnabled",
							"type": "Expression"
						},
						"emailNotificationSendToAddress": {
							"value": "@pipeline().parameters.emailNotificationSendToAddress",
							"type": "Expression"
						},
						"emailImportance": "Low",
						"emailSubject": {
							"value": "SUCCESS: @{pipeline().Pipeline}",
							"type": "Expression"
						},
						"emailMessage": {
							"value": "The pipeline @{pipeline().Pipeline} finished successfully",
							"type": "Expression"
						},
						"emailColor": "Green",
						"executionLogSubject": {
							"value": "Successful pipeline execution: @{pipeline().Pipeline}",
							"type": "Expression"
						},
						"executionLogMessage": {
							"value": "The pipeline @{pipeline().Pipeline} finished successfully",
							"type": "Expression"
						},
						"dataFactoryName": {
							"value": "@pipeline().DataFactory",
							"type": "Expression"
						},
						"pipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"pipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"pipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"pipelineTriggerTimestamp": {
							"value": "@pipeline().TriggerTime",
							"type": "Expression"
						},
						"pipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"executionTimestamp": {
							"value": "@{utcnow('yyyyMMddTHH:mm:ss')}",
							"type": "Expression"
						},
						"isStart": "false",
						"isEnd": "true",
						"isError": "false",
						"isInnerActivity": "false",
						"isIncremental": "false",
						"objectName": {
							"value": "@coalesce(null)",
							"type": "Expression"
						},
						"objectSchema": {
							"value": "@coalesce(null)",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "log pipeline start",
				"description": "log pipeline start",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:05:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adf].[uspLogExecutionMessage]",
					"storedProcedureParameters": {
						"dataSourceId": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"dataProcessId": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"executionLogSubject": {
							"value": {
								"value": "Start of pipeline: @{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"executionLogMessage": {
							"value": "STARTING: Starting execution of the pipeline",
							"type": "String"
						},
						"dataFactoryName": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineTriggerID": {
							"value": {
								"value": "@pipeline().TriggerId",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineTriggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineTriggerTimestamp": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"PipelineTriggerType": {
							"value": {
								"value": "@pipeline().TriggerType",
								"type": "Expression"
							},
							"type": "String"
						},
						"executionTimestamp": {
							"value": {
								"value": "@utcnow('yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"isStart": {
							"value": "true",
							"type": "Boolean"
						},
						"isEnd": {
							"value": "false",
							"type": "Boolean"
						},
						"isError": {
							"value": "false",
							"type": "Boolean"
						},
						"isInnerActivity": {
							"value": "false",
							"type": "Boolean"
						},
						"isIncremental": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "Boolean"
						},
						"objectName": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "String"
						},
						"objectSchema": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lsAsqlManagedIdentity",
					"type": "LinkedServiceReference",
					"parameters": {
						"connectionString": "sec-metadata-db-connection-string"
					}
				}
			},
			{
				"name": "log pipeline end",
				"description": "log pipeline end",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "vacuum notebooks",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:05:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adf].[uspLogExecutionMessage]",
					"storedProcedureParameters": {
						"dataSourceId": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"dataProcessId": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"executionLogSubject": {
							"value": {
								"value": "End of pipeline: @{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"executionLogMessage": {
							"value": "This is the end of the pipeline",
							"type": "String"
						},
						"dataFactoryName": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineTriggerID": {
							"value": {
								"value": "@pipeline().TriggerId",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineTriggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineTriggerTimestamp": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"pipelineTriggerType": {
							"value": {
								"value": "@pipeline().TriggerType",
								"type": "Expression"
							},
							"type": "String"
						},
						"executionTimestamp": {
							"value": {
								"value": "@utcnow('yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"isStart": {
							"value": "false",
							"type": "Boolean"
						},
						"isEnd": {
							"value": "true",
							"type": "Boolean"
						},
						"isError": {
							"value": "false",
							"type": "Boolean"
						},
						"isInnerActivity": {
							"value": "false",
							"type": "Boolean"
						},
						"isIncremental": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "Boolean"
						},
						"objectName": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "String"
						},
						"objectSchema": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lsAsqlManagedIdentity",
					"type": "LinkedServiceReference",
					"parameters": {
						"connectionString": "sec-metadata-db-connection-string"
					}
				}
			}
		],
		"parameters": {
			"isEmailNotificationEnabled": {
				"type": "bool",
				"defaultValue": true
			},
			"emailNotificationSendToAddress": {
				"type": "string"
			}
		},
		"variables": {
			"metadataConnectionString": {
				"type": "String",
				"defaultValue": "sec-metadata-db-connection-string"
			},
			"isError": {
				"type": "Boolean",
				"defaultValue": false
			},
			"localTimestamp": {
				"type": "String"
			},
			"utcTimestamp": {
				"type": "String"
			}
		},
		"folder": {
			"name": "001_utility/maintenance"
		},
		"annotations": [],
		"lastPublishTime": "2023-07-20T18:43:03Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}