DW2023-DataFactory/pipeline/plSilverToGoldParent.json
{
	"name": "plSilverToGoldParent",
	"properties": {
		"activities": [
			{
				"name": "lookup levels of dependency hierarchy",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "log pipeline start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "adf.uspGetProcessDependencyHierarchyLevels",
						"storedProcedureParameters": {
							"batchgroup": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.batchGroup",
									"type": "Expression"
								}
							},
							"subjectArea": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.subjectArea",
									"type": "Expression"
								}
							},
							"dataProcess": {
								"type": "String",
								"value": "gold"
							},
							"level": {
								"type": "String",
								"value": "-"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dsAsqlManagedIdentity",
						"type": "DatasetReference",
						"parameters": {
							"connectionString": "@variables('metadataConnectionString')",
							"schema": "-",
							"tableName": "-"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "for each hierarchy level",
				"description": "execute a child pipeline that contains the notebook for each level of the hierarchy.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lookup levels of dependency hierarchy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lookup levels of dependency hierarchy').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "execute child pipeline",
							"description": "execute the child pipeline given for the given level in the hierarchy",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "log item start",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "plSilverToGoldChild",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"level": {
										"value": "@item().level",
										"type": "Expression"
									},
									"batchGroup": {
										"value": "@pipeline().parameters.batchGroup",
										"type": "Expression"
									},
									"subjectArea": {
										"value": "@pipeline().parameters.subjectArea",
										"type": "Expression"
									},
									"dataProcess": "gold",
									"objectSchema": "-",
									"objectName": "-",
									"isEmailNotificationEnabled": {
										"value": "@pipeline().parameters.isEmailNotificationEnabled",
										"type": "Expression"
									},
									"emailNotificationSendToAddress": {
										"value": "@pipeline().parameters.emailNotificationSendToAddress",
										"type": "Expression"
									},
									"debug": {
										"value": "@pipeline().parameters.debug",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "error notification 3",
							"description": "log error and notify users if notifications are enabled",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "execute child pipeline",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "plLogMsgAndSendEmail",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"metadataConnectionString": "sec-metadata-db-connection-string",
									"emailEnabled": {
										"value": "@pipeline().parameters.isEmailNotificationEnabled",
										"type": "Expression"
									},
									"emailNotificationSendToAddress": {
										"value": "@pipeline().parameters.emailNotificationSendToAddress",
										"type": "Expression"
									},
									"emailImportance": "High",
									"emailSubject": {
										"value": "Gold Child Pipeline Failure - Level @{item().level}",
										"type": "Expression"
									},
									"emailMessage": {
										"value": "<b>Message:</b> The child pipeline failed for level: @{item().level}\n<br><b>Error Code: </b> @{activity('execute child pipeline').error.errorCode}\n<br><b>Error Message:</b> @{activity('execute child pipeline').error.message}",
										"type": "Expression"
									},
									"emailColor": "Red",
									"executionLogSubject": {
										"value": "End of inner activity for pipeline: @{pipeline().Pipeline}",
										"type": "Expression"
									},
									"executionLogMessage": "FAILURE: Failed to successfully execute all tables in level.",
									"dataFactoryName": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"pipelineName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"pipelineRunID": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"pipelineTriggerID": {
										"value": "@pipeline().TriggerId",
										"type": "Expression"
									},
									"pipelineTriggerName": {
										"value": "@pipeline().TriggerId",
										"type": "Expression"
									},
									"pipelineTriggerTimestamp": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"pipelineTriggerType": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"executionTimestamp": {
										"value": "@{utcnow('yyyyMMddTHH:mm:ss')}",
										"type": "Expression"
									},
									"isStart": "false",
									"isEnd": "false",
									"isError": "true",
									"isInnerActivity": "true",
									"isIncremental": "false",
									"objectName": {
										"value": "@coalesce(null)",
										"type": "Expression"
									},
									"objectSchema": {
										"value": "@coalesce(null)",
										"type": "Expression"
									},
									"dataSourceId": {
										"value": "@coalesce(null)",
										"type": "Expression"
									},
									"dataProcessId": {
										"value": "@coalesce(null)",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "log item start",
							"description": "start item logging",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:05:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[adf].[uspLogExecutionMessage]",
								"storedProcedureParameters": {
									"dataSourceId": {
										"value": "@coalesce(null)",
										"type": "Int64"
									},
									"dataProcessId": {
										"value": {
											"value": "@coalesce(null)",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"executionLogSubject": {
										"value": {
											"value": "Start of inner activity for pipeline: @{pipeline().Pipeline}",
											"type": "Expression"
										},
										"type": "String"
									},
									"executionLogMessage": {
										"value": {
											"value": "Starting: Started execution of Gold tables in level @{item().level}",
											"type": "Expression"
										},
										"type": "String"
									},
									"DataFactoryName": {
										"value": {
											"value": "@pipeline().DataFactory",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineRunID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerID": {
										"value": {
											"value": "@pipeline().TriggerId",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerName": {
										"value": {
											"value": "@pipeline().TriggerName",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerTimestamp": {
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"PipelineTriggerType": {
										"value": {
											"value": "@pipeline().TriggerType",
											"type": "Expression"
										},
										"type": "String"
									},
									"executionTimestamp": {
										"value": {
											"value": "@utcnow('yyyy-MM-dd HH:mm:ss')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"IsStart": {
										"value": "true",
										"type": "Boolean"
									},
									"IsEnd": {
										"value": "false",
										"type": "Boolean"
									},
									"IsError": {
										"value": "false",
										"type": "Boolean"
									},
									"IsInnerActivity": {
										"value": "true",
										"type": "Boolean"
									},
									"IsIncremental": {
										"value": {
											"value": "@coalesce(null)",
											"type": "Expression"
										},
										"type": "Boolean"
									},
									"ObjectName": {
										"value": "@coalesce(null)",
										"type": "String"
									},
									"ObjectSchema": {
										"value": "@coalesce(null)",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "lsAsqlManagedIdentity",
								"type": "LinkedServiceReference",
								"parameters": {
									"connectionString": "sec-metadata-db-connection-string"
								}
							}
						},
						{
							"name": "log item end",
							"description": "start item logging",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "execute child pipeline",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:05:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[adf].[uspLogExecutionMessage]",
								"storedProcedureParameters": {
									"dataSourceId": {
										"value": "@coalesce(null)",
										"type": "Int64"
									},
									"dataProcessId": {
										"value": {
											"value": "@coalesce(null)",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"executionLogSubject": {
										"value": {
											"value": "Start of inner activity for pipeline: @{pipeline().Pipeline}",
											"type": "Expression"
										},
										"type": "String"
									},
									"executionLogMessage": {
										"value": {
											"value": "SUCCESS: Successfully executed Gold tables in level @{item().level}",
											"type": "Expression"
										},
										"type": "String"
									},
									"DataFactoryName": {
										"value": {
											"value": "@pipeline().DataFactory",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineRunID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerID": {
										"value": {
											"value": "@pipeline().TriggerId",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerName": {
										"value": {
											"value": "@pipeline().TriggerName",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerTimestamp": {
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"PipelineTriggerType": {
										"value": {
											"value": "@pipeline().TriggerType",
											"type": "Expression"
										},
										"type": "String"
									},
									"executionTimestamp": {
										"value": {
											"value": "@utcnow('yyyy-MM-dd HH:mm:ss')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"IsStart": {
										"value": "false",
										"type": "Boolean"
									},
									"IsEnd": {
										"value": "true",
										"type": "Boolean"
									},
									"IsError": {
										"value": "false",
										"type": "Boolean"
									},
									"IsInnerActivity": {
										"value": "true",
										"type": "Boolean"
									},
									"IsIncremental": {
										"value": {
											"value": "@coalesce(null)",
											"type": "Expression"
										},
										"type": "Boolean"
									},
									"ObjectName": {
										"value": "@coalesce(null)",
										"type": "String"
									},
									"ObjectSchema": {
										"value": "@coalesce(null)",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "lsAsqlManagedIdentity",
								"type": "LinkedServiceReference",
								"parameters": {
									"connectionString": "sec-metadata-db-connection-string"
								}
							}
						}
					]
				}
			},
			{
				"name": "error notification 1",
				"description": "log error and notify users if notifications are enabled",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "lookup levels of dependency hierarchy",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "plLogMsgAndSendEmail",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"metadataConnectionString": "sec-metadata-db-connection-string",
						"emailEnabled": {
							"value": "@pipeline().parameters.isEmailNotificationEnabled",
							"type": "Expression"
						},
						"emailNotificationSendToAddress": {
							"value": "@pipeline().parameters.emailNotificationSendToAddress",
							"type": "Expression"
						},
						"emailImportance": "High",
						"emailSubject": {
							"value": "FAILURE: @{pipeline().Pipeline} Lookup Activity Failure",
							"type": "Expression"
						},
						"emailMessage": {
							"value": "<b>Error Code: </b>@{activity('lookup levels of dependency hierarchy').error.errorCode}\n<br>\n<b>Message: </b>@{activity('lookup levels of dependency hierarchy').error.message}",
							"type": "Expression"
						},
						"emailColor": "Red",
						"executionLogSubject": {
							"value": "Error during pipeline: @{pipeline().Pipeline}",
							"type": "Expression"
						},
						"executionLogMessage": "There was an error on the lookup activity of the pipeline",
						"dataFactoryName": {
							"value": "@pipeline().DataFactory",
							"type": "Expression"
						},
						"pipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"pipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"pipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"pipelineTriggerTimestamp": {
							"value": "@pipeline().TriggerTime",
							"type": "Expression"
						},
						"pipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"executionTimestamp": {
							"value": "@{utcnow('yyyy-MM-dd hh:mm:ss')}",
							"type": "Expression"
						},
						"isStart": "false",
						"isEnd": "false",
						"isError": "true",
						"isInnerActivity": "false",
						"isIncremental": "false",
						"rowsCopied": {
							"value": "@coalesce(null)",
							"type": "Expression"
						},
						"objectName": {
							"value": "@coalesce(null)",
							"type": "Expression"
						},
						"objectSchema": {
							"value": "@coalesce(null)",
							"type": "Expression"
						},
						"dataSourceId": {
							"value": "@coalesce(null)",
							"type": "Expression"
						},
						"dataProcessId": {
							"value": "@coalesce(null)",
							"type": "Expression"
						},
						"recordCount": {
							"value": "@coalesce(null)",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "success notification",
				"description": "notify users ",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "log pipeline end",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "plLogMsgAndSendEmail",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"metadataConnectionString": "sec-metadata-db-connection-string",
						"emailEnabled": {
							"value": "@pipeline().parameters.isEmailNotificationEnabled",
							"type": "Expression"
						},
						"emailNotificationSendToAddress": {
							"value": "@pipeline().parameters.emailNotificationSendToAddress",
							"type": "Expression"
						},
						"emailImportance": "Low",
						"emailSubject": {
							"value": "SUCCESS: @{pipeline().Pipeline}",
							"type": "Expression"
						},
						"emailMessage": {
							"value": "The pipeline @{pipeline().Pipeline} finished successfully",
							"type": "Expression"
						},
						"emailColor": "Green",
						"executionLogSubject": {
							"value": "Successful pipeline execution: @{pipeline().Pipeline}",
							"type": "Expression"
						},
						"executionLogMessage": {
							"value": "The pipeline @{pipeline().Pipeline} finished successfully",
							"type": "Expression"
						},
						"dataFactoryName": {
							"value": "@pipeline().DataFactory",
							"type": "Expression"
						},
						"pipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"pipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"pipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"pipelineTriggerTimestamp": {
							"value": "@pipeline().TriggerTime",
							"type": "Expression"
						},
						"pipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"executionTimestamp": {
							"value": "@{utcnow('yyyyMMddTHH:mm:ss')}",
							"type": "Expression"
						},
						"isStart": "false",
						"isEnd": "true",
						"isError": "false",
						"isInnerActivity": "false",
						"isIncremental": "false",
						"rowsCopied": {
							"value": "@coalesce(null)",
							"type": "Expression"
						},
						"objectName": {
							"value": "@coalesce(null)",
							"type": "Expression"
						},
						"objectSchema": {
							"value": "@coalesce(null)",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "error notification 2",
				"description": "log error and notify users if notifications are enabled",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "for each hierarchy level",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "plLogMsgAndSendEmail",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"metadataConnectionString": "sec-metadata-db-connection-string",
						"emailEnabled": {
							"value": "@pipeline().parameters.isEmailNotificationEnabled",
							"type": "Expression"
						},
						"emailNotificationSendToAddress": {
							"value": "@pipeline().parameters.emailNotificationSendToAddress",
							"type": "Expression"
						},
						"emailImportance": "High",
						"emailSubject": {
							"value": "FAILURE: Error during pipeline: @{pipeline().Pipeline}",
							"type": "Expression"
						},
						"emailMessage": {
							"value": "There was an error during the ForEach activity of the pipeline @{pipeline().Pipeline}",
							"type": "Expression"
						},
						"emailColor": "Red",
						"executionLogSubject": {
							"value": "Error during pipeline: @{pipeline().Pipeline}",
							"type": "Expression"
						},
						"executionLogMessage": {
							"value": "There was an error during the ForEach activity of the pipeline @{pipeline().Pipeline}",
							"type": "Expression"
						},
						"dataFactoryName": {
							"value": "@pipeline().DataFactory",
							"type": "Expression"
						},
						"pipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"pipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"pipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"pipelineTriggerTimestamp": {
							"value": "@pipeline().TriggerTime",
							"type": "Expression"
						},
						"pipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"executionTimestamp": {
							"value": "@{utcnow('yyyy-MM-dd hh:mm:ss')}",
							"type": "Expression"
						},
						"isStart": "false",
						"isEnd": "false",
						"isError": "true",
						"isInnerActivity": "false",
						"isIncremental": "false",
						"objectName": {
							"value": "@coalesce(null)",
							"type": "Expression"
						},
						"objectSchema": {
							"value": "@coalesce(null)",
							"type": "Expression"
						},
						"dataSourceId": {
							"value": "@coalesce(null)",
							"type": "Expression"
						},
						"dataProcessId": {
							"value": "@coalesce(null)",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "log pipeline start",
				"description": "log pipeline start",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:05:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adf].[uspLogExecutionMessage]",
					"storedProcedureParameters": {
						"dataSourceId": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"dataProcessId": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"executionLogSubject": {
							"value": {
								"value": "Start of pipeline: @{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"executionLogMessage": {
							"value": "STARTING: Starting execution of the pipeline",
							"type": "String"
						},
						"dataFactoryName": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineTriggerID": {
							"value": {
								"value": "@pipeline().TriggerId",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineTriggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineTriggerTimestamp": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"PipelineTriggerType": {
							"value": {
								"value": "@pipeline().TriggerType",
								"type": "Expression"
							},
							"type": "String"
						},
						"executionTimestamp": {
							"value": {
								"value": "@utcnow('yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"isStart": {
							"value": "true",
							"type": "Boolean"
						},
						"isEnd": {
							"value": "false",
							"type": "Boolean"
						},
						"isError": {
							"value": "false",
							"type": "Boolean"
						},
						"isInnerActivity": {
							"value": "false",
							"type": "Boolean"
						},
						"isIncremental": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "Boolean"
						},
						"objectName": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "String"
						},
						"objectSchema": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lsAsqlManagedIdentity",
					"type": "LinkedServiceReference",
					"parameters": {
						"connectionString": "sec-metadata-db-connection-string"
					}
				}
			},
			{
				"name": "log pipeline end",
				"description": "log pipeline end",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "for each hierarchy level",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:05:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adf].[uspLogExecutionMessage]",
					"storedProcedureParameters": {
						"dataSourceId": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"dataProcessId": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"executionLogSubject": {
							"value": {
								"value": "End of pipeline: @{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"executionLogMessage": {
							"value": "SUCCESS: Successfully completed execution of the pipeline",
							"type": "String"
						},
						"dataFactoryName": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineTriggerID": {
							"value": {
								"value": "@pipeline().TriggerId",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineTriggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineTriggerTimestamp": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"pipelineTriggerType": {
							"value": {
								"value": "@pipeline().TriggerType",
								"type": "Expression"
							},
							"type": "String"
						},
						"executionTimestamp": {
							"value": {
								"value": "@utcnow('yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"isStart": {
							"value": "false",
							"type": "Boolean"
						},
						"isEnd": {
							"value": "true",
							"type": "Boolean"
						},
						"isError": {
							"value": "false",
							"type": "Boolean"
						},
						"isInnerActivity": {
							"value": "false",
							"type": "Boolean"
						},
						"isIncremental": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "Boolean"
						},
						"objectName": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "String"
						},
						"objectSchema": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lsAsqlManagedIdentity",
					"type": "LinkedServiceReference",
					"parameters": {
						"connectionString": "sec-metadata-db-connection-string"
					}
				}
			}
		],
		"parameters": {
			"batchGroup": {
				"type": "string",
				"defaultValue": "-"
			},
			"subjectArea": {
				"type": "string",
				"defaultValue": "-"
			},
			"isEmailNotificationEnabled": {
				"type": "bool",
				"defaultValue": true
			},
			"emailNotificationSendToAddress": {
				"type": "string"
			},
			"debug": {
				"type": "string",
				"defaultValue": "false"
			}
		},
		"variables": {
			"metadataConnectionString": {
				"type": "String",
				"defaultValue": "sec-metadata-db-connection-string"
			},
			"isError": {
				"type": "Boolean"
			}
		},
		"folder": {
			"name": "300_silverToGold"
		},
		"annotations": [],
		"lastPublishTime": "2023-07-20T18:43:04Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}