DW2023-DataFactory/pipeline/plSourceToGold.json
{
	"name": "plSourceToGold",
	"properties": {
		"activities": [
			{
				"name": "SQL",
				"description": "load data from cosential, emars,heavyjob,p6, e1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "log pipeline start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "plSourceToSilverSql",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"isEmailNotificationEnabled": {
							"value": "@pipeline().parameters.isEmailNotificationEnabled",
							"type": "Expression"
						},
						"emailNotificationSendToAddress": {
							"value": "@pipeline().parameters.emailNotificationSendToAddress",
							"type": "Expression"
						},
						"batchGroup": {
							"value": "@pipeline().parameters.batchGroup",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ASQL",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "log pipeline start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "plSourceToSilverAzureSql",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"isEmailNotificationEnabled": {
							"value": "@pipeline().parameters.isEmailNotificationEnabled",
							"type": "Expression"
						},
						"emailNotificationSendToAddress": {
							"value": "@pipeline().parameters.emailNotificationSendToAddress",
							"type": "Expression"
						},
						"batchGroup": {
							"value": "@pipeline().parameters.batchGroup",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "log pipeline start",
				"description": "log pipeline start",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:05:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adf].[uspLogExecutionMessage]",
					"storedProcedureParameters": {
						"dataSourceId": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"dataProcessId": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"executionLogSubject": {
							"value": {
								"value": "Start of pipeline: @{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"executionLogMessage": {
							"value": "STARTING: Starting execution of the pipeline",
							"type": "String"
						},
						"dataFactoryName": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineTriggerID": {
							"value": {
								"value": "@pipeline().TriggerId",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineTriggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineTriggerTimestamp": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"PipelineTriggerType": {
							"value": {
								"value": "@pipeline().TriggerType",
								"type": "Expression"
							},
							"type": "String"
						},
						"executionTimestamp": {
							"value": {
								"value": "@utcnow('yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"isStart": {
							"value": "true",
							"type": "Boolean"
						},
						"isEnd": {
							"value": "false",
							"type": "Boolean"
						},
						"isError": {
							"value": "false",
							"type": "Boolean"
						},
						"isInnerActivity": {
							"value": "false",
							"type": "Boolean"
						},
						"isIncremental": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "Boolean"
						},
						"objectName": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "String"
						},
						"objectSchema": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lsAsqlManagedIdentity",
					"type": "LinkedServiceReference",
					"parameters": {
						"connectionString": "sec-metadata-db-connection-string"
					}
				}
			},
			{
				"name": "log pipeline end",
				"description": "log pipeline end",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Web App",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:05:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adf].[uspLogExecutionMessage]",
					"storedProcedureParameters": {
						"dataSourceId": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"dataProcessId": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"executionLogSubject": {
							"value": {
								"value": "End of pipeline: @{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"executionLogMessage": {
							"value": "This is the end of the pipeline",
							"type": "String"
						},
						"dataFactoryName": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineTriggerID": {
							"value": {
								"value": "@pipeline().TriggerId",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineTriggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineTriggerTimestamp": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"pipelineTriggerType": {
							"value": {
								"value": "@pipeline().TriggerType",
								"type": "Expression"
							},
							"type": "String"
						},
						"executionTimestamp": {
							"value": {
								"value": "@utcnow('yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"isStart": {
							"value": "false",
							"type": "Boolean"
						},
						"isEnd": {
							"value": "true",
							"type": "Boolean"
						},
						"isError": {
							"value": "false",
							"type": "Boolean"
						},
						"isInnerActivity": {
							"value": "false",
							"type": "Boolean"
						},
						"isIncremental": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "Boolean"
						},
						"objectName": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "String"
						},
						"objectSchema": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lsAsqlManagedIdentity",
					"type": "LinkedServiceReference",
					"parameters": {
						"connectionString": "sec-metadata-db-connection-string"
					}
				}
			},
			{
				"name": "log pipeline failure",
				"description": "log pipeline end",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Gold Parent",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "Web App",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.00:05:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adf].[uspLogExecutionMessage]",
					"storedProcedureParameters": {
						"dataSourceId": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"dataProcessId": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"executionLogSubject": {
							"value": {
								"value": "FAILURE: Error during pipeline: @{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"executionLogMessage": {
							"value": {
								"value": "There was an error during one of the executed pipelines of the orchestrator pipeline @{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"dataFactoryName": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineTriggerID": {
							"value": {
								"value": "@pipeline().TriggerId",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineTriggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineTriggerTimestamp": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"pipelineTriggerType": {
							"value": {
								"value": "@pipeline().TriggerType",
								"type": "Expression"
							},
							"type": "String"
						},
						"executionTimestamp": {
							"value": {
								"value": "@utcnow('yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"isStart": {
							"value": "false",
							"type": "Boolean"
						},
						"isEnd": {
							"value": "false",
							"type": "Boolean"
						},
						"isError": {
							"value": "true",
							"type": "Boolean"
						},
						"isInnerActivity": {
							"value": "false",
							"type": "Boolean"
						},
						"isIncremental": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "Boolean"
						},
						"objectName": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "String"
						},
						"objectSchema": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lsAsqlManagedIdentity",
					"type": "LinkedServiceReference",
					"parameters": {
						"connectionString": "sec-metadata-db-connection-string"
					}
				}
			},
			{
				"name": "Gold Parent",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "plSilverToGoldParent",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"batchGroup": {
							"value": "@pipeline().parameters.batchGroup",
							"type": "Expression"
						},
						"isEmailNotificationEnabled": {
							"value": "@pipeline().parameters.isEmailNotificationEnabled",
							"type": "Expression"
						},
						"emailNotificationSendToAddress": {
							"value": "@pipeline().parameters.emailNotificationSendToAddress",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "REST API",
				"description": "Power BI and AAD",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "log pipeline start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "plSourceToSilverRestApi",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"isEmailNotificationEnabled": {
							"value": "@pipeline().parameters.isEmailNotificationEnabled",
							"type": "Expression"
						},
						"emailNotificationSendToAddress": {
							"value": "@pipeline().parameters.emailNotificationSendToAddress",
							"type": "Expression"
						},
						"batchGroup": {
							"value": "@pipeline().parameters.batchGroup",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Sharepoint",
				"description": "Bronze to silver sharepoint",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "log pipeline start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "plSourceToSilverSharepoint",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"isEmailNotificationEnabled": {
							"value": "@pipeline().parameters.isEmailNotificationEnabled",
							"type": "Expression"
						},
						"emailNotificationSendToAddress": {
							"value": "@pipeline().parameters.emailNotificationSendToAddress",
							"type": "Expression"
						},
						"batchGroup": {
							"value": "@pipeline().parameters.batchGroup",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Web App",
				"description": "update required tables in web app",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Gold Parent",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "plUpdateAllWebAppTables",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"emailEnabled": {
							"value": "@pipeline().parameters.isEmailNotificationEnabled",
							"type": "Expression"
						},
						"emailNotificationSendToAddress": {
							"value": "@pipeline().parameters.emailNotificationSendToAddress",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "B2G",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "log pipeline start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "plSourceToSilverSoapApi",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"isEmailNotificationEnabled": {
							"value": "@pipeline().parameters.isEmailNotificationEnabled",
							"type": "Expression"
						},
						"emailNotificationSendToAddress": {
							"value": "@pipeline().parameters.emailNotificationSendToAddress",
							"type": "Expression"
						},
						"batchGroup": {
							"value": "@pipeline().parameters.batchGroup",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "CurrentMSTTime",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SQL",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "ASQL",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "REST API",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "Sharepoint",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "B2G",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "GRAPHQL API",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "CSLB",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "VRM",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CurrentMSTTime",
					"value": {
						"value": "@convertTimeZone(utcNow(), 'UTC', 'US Mountain Standard Time')\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CurrentPeriod",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "CurrentMSTTime",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CurrentPeriod",
					"value": {
						"value": "@formatDateTime(variables('CurrentMSTTime'), 'tt')\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "NextMSTMidnight",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "CurrentPeriod",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "NextMSTMidnight",
					"value": {
						"value": "@concat(\n  formatDateTime(\n    addDays(\n      convertTimeZone(utcNow(), 'UTC', 'US Mountain Standard Time'),\n      1\n    ),\n    'yyyy-MM-dd'\n  ),\n  'T00:05:00'\n)\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "WaitTimeSeconds",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "NextMSTMidnight",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "WaitTimeSeconds",
					"value": {
						"value": "@if(\n    equals(variables('CurrentPeriod'), 'PM'),\n    div(\n        sub(\n            ticks(variables('NextMSTMidnight')),\n            ticks(variables('CurrentMSTTime'))\n        ),\n        10000000\n    ),\n    0\n)\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "WaitTimeSeconds",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(variables('WaitTimeSeconds'), 0)\n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Wait",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": {
									"value": "@variables('WaitTimeSeconds')\n",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "GRAPHQL API",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "log pipeline start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "plSourceToSilverGraphQl",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"isEmailNotificationEnabled": {
							"value": "@pipeline().parameters.isEmailNotificationEnabled",
							"type": "Expression"
						},
						"emailNotificationSendToAddress": {
							"value": "@pipeline().parameters.emailNotificationSendToAddress",
							"type": "Expression"
						},
						"batchGroup": {
							"value": "@pipeline().parameters.batchGroup",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "CSLB",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "log pipeline start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "plSourceToSilverCslb",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"isEmailNotificationEnabled": {
							"value": "@pipeline().parameters.isEmailNotificationEnabled",
							"type": "Expression"
						},
						"emailNotificationSendToAddress": {
							"value": "@pipeline().parameters.emailNotificationSendToAddress",
							"type": "Expression"
						},
						"batchGroup": {
							"value": "@pipeline().parameters.batchGroup",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "VRM",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "log pipeline start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "plSourceToSilverVRM",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"isEmailNotificationEnabled": "@pipeline().parameters.isEmailNotificationEnabled",
						"emailNotificationSendToAddress": "@pipeline().parameters.emailNotificationSendToAddress",
						"batchGroup": "@pipeline().parameters.batchGroup"
					}
				}
			}
		],
		"parameters": {
			"isEmailNotificationEnabled": {
				"type": "string",
				"defaultValue": "true"
			},
			"emailNotificationSendToAddress": {
				"type": "string"
			},
			"batchGroup": {
				"type": "string",
				"defaultValue": "daily"
			}
		},
		"variables": {
			"CurrentMSTTime": {
				"type": "String"
			},
			"CurrentPeriod": {
				"type": "String"
			},
			"NextMSTMidnight": {
				"type": "String"
			},
			"WaitTimeSeconds": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "003_orchestratorPipelines"
		},
		"annotations": [],
		"lastPublishTime": "2023-07-20T18:43:04Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}