DW2023-DataFactory/pipeline/plSourceToBronzeFileSystemWeldOffice.json
{
	"name": "plSourceToBronzeFileSystemWeldOffice",
	"properties": {
		"description": "pipeline to get data from a file system and load it into raw",
		"activities": [
			{
				"name": "log pipeline start",
				"description": "log pipeline start",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:05:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adf].[uspLogExecutionMessage]",
					"storedProcedureParameters": {
						"dataSourceId": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"dataProcessId": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"executionLogSubject": {
							"value": {
								"value": "Start of pipeline: @{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"executionLogMessage": {
							"value": "STARTING: Starting execution of the pipeline",
							"type": "String"
						},
						"dataFactoryName": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineTriggerID": {
							"value": {
								"value": "@pipeline().TriggerId",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineTriggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineTriggerTimestamp": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"PipelineTriggerType": {
							"value": {
								"value": "@pipeline().TriggerType",
								"type": "Expression"
							},
							"type": "String"
						},
						"executionTimestamp": {
							"value": {
								"value": "@utcnow('yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"isStart": {
							"value": "true",
							"type": "Boolean"
						},
						"isEnd": {
							"value": "false",
							"type": "Boolean"
						},
						"isError": {
							"value": "false",
							"type": "Boolean"
						},
						"isInnerActivity": {
							"value": "false",
							"type": "Boolean"
						},
						"isIncremental": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "Boolean"
						},
						"objectName": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "String"
						},
						"objectSchema": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lsAsqlManagedIdentity",
					"type": "LinkedServiceReference",
					"parameters": {
						"connectionString": "sec-metadata-db-connection-string"
					}
				}
			},
			{
				"name": "lookup objects",
				"description": "lookup tables that are enabled in metadata table",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "log pipeline start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:05:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT\n    *\nFROM adf.DataSource\nWHERE\n    dataSourceType = 'File System'\n    AND (\n        NULLIF(NULLIF(LTRIM(RTRIM('@{pipeline().parameters.dataSourceName}')), '-'),'') IS NULL\n        OR dataSourceName IN (\n            SELECT TRIM(value) FROM STRING_SPLIT('@{pipeline().parameters.dataSourceName}', ',')\n        )\n    )\n    AND (\n        NULLIF(NULLIF(LTRIM(RTRIM('@{pipeline().parameters.objectSchema}')), '-'),'') IS NULL\n        OR objectSchema IN (\n            SELECT TRIM(value) FROM STRING_SPLIT('@{pipeline().parameters.objectSchema}', ',')\n        )\n    )\n    AND (\n        NULLIF(NULLIF(LTRIM(RTRIM('@{pipeline().parameters.objectName}')), '-'),'') IS NULL\n        OR objectName IN (\n            SELECT TRIM(value) FROM STRING_SPLIT('@{pipeline().parameters.objectName}', ',')\n        )\n    )\n    AND (\n        NULLIF(NULLIF(LTRIM(RTRIM('@{pipeline().parameters.batchGroup}')), '-'),'') IS NULL\n        OR batchGroup IN (\n            SELECT TRIM(value) FROM STRING_SPLIT('@{pipeline().parameters.batchGroup}', ',')\n        )\n    )\n    AND isEnabled = 1;\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dsAsqlManagedIdentity",
						"type": "DatasetReference",
						"parameters": {
							"connectionString": {
								"value": "@variables('metadataConnectionString')",
								"type": "Expression"
							},
							"schema": "-",
							"tableName": "-"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "for each object",
				"description": "perform a series of steps for each metadata item found in the lookup activity",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "set utc timestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "lookup objects",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "set local timestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lookup objects').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "log item start",
							"description": "start item logging",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:05:00",
								"retry": 3,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[adf].[uspLogExecutionMessage]",
								"storedProcedureParameters": {
									"dataSourceId": {
										"value": {
											"value": "@item().dataSourceId",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"dataProcessId": {
										"value": {
											"value": "@coalesce(null)",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"executionLogSubject": {
										"value": {
											"value": "Start of inner activity for pipeline: @{pipeline().Pipeline}",
											"type": "Expression"
										},
										"type": "String"
									},
									"executionLogMessage": {
										"value": "Started copying objects and converting to delta tables",
										"type": "String"
									},
									"DataFactoryName": {
										"value": {
											"value": "@pipeline().DataFactory",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineRunID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerID": {
										"value": {
											"value": "@pipeline().TriggerId",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerName": {
										"value": {
											"value": "@pipeline().TriggerName",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerTimestamp": {
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"PipelineTriggerType": {
										"value": {
											"value": "@pipeline().TriggerType",
											"type": "Expression"
										},
										"type": "String"
									},
									"executionTimestamp": {
										"value": {
											"value": "@utcnow('yyyy-MM-dd HH:mm:ss')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"IsStart": {
										"value": "true",
										"type": "Boolean"
									},
									"IsEnd": {
										"value": "false",
										"type": "Boolean"
									},
									"IsError": {
										"value": "false",
										"type": "Boolean"
									},
									"IsInnerActivity": {
										"value": "true",
										"type": "Boolean"
									},
									"IsIncremental": {
										"value": {
											"value": "@coalesce(null)",
											"type": "Expression"
										},
										"type": "Boolean"
									},
									"ObjectName": {
										"value": {
											"value": "@item().objectName",
											"type": "Expression"
										},
										"type": "String"
									},
									"ObjectSchema": {
										"value": {
											"value": "@item().objectSchema",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "lsAsqlManagedIdentity",
								"type": "LinkedServiceReference",
								"parameters": {
									"connectionString": "sec-metadata-db-connection-string"
								}
							}
						},
						{
							"name": "switch objectname",
							"type": "Switch",
							"dependsOn": [
								{
									"activity": "log item start",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@toLower(item().objectName)\n",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "wpq_export",
										"activities": [
											{
												"name": "error notification wpq",
												"description": "log error and notify users if notifications are enabled",
												"type": "ExecutePipeline",
												"dependsOn": [
													{
														"activity": "write to delta table_wpq",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "plLogMsgAndSendEmail",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"metadataConnectionString": "sec-metadata-db-connection-string",
														"emailEnabled": {
															"value": "@pipeline().parameters.isEmailNotificationEnabled",
															"type": "Expression"
														},
														"emailNotificationSendToAddress": {
															"value": "@pipeline().parameters.emailNotificationSendToAddress",
															"type": "Expression"
														},
														"emailImportance": "High",
														"emailSubject": {
															"value": "Notebook Failure: @{pipeline().Pipeline}",
															"type": "Expression"
														},
														"emailMessage": {
															"value": "<b>Notebook:</b> /data_engineering/Source2Raw/Source2RawIncrementalLoad\n<br><b>ObjectSchema: </b> @{coalesce(item().ObjectSchema, '')}\n<br><b>ObjectName: </b> @{item().ObjectName}\n<br><b>Error Code: </b> @{activity('write to delta table_wpq').error.errorCode}\n\n<br><b>Message:</b> @{activity('write to delta table_wpq').error.message}",
															"type": "Expression"
														},
														"emailColor": "Red",
														"executionLogSubject": {
															"value": "End of inner activity for pipeline: @{pipeline().Pipeline}",
															"type": "Expression"
														},
														"executionLogMessage": {
															"value": "FAILURE: Notebook Failure: /data_engineering/Source2Raw/Source2RawIncrementalLoad\nError Code: @{activity('write to delta table_wpq').error.errorCode}\nMessage: @{activity('write to delta table_wpq').error.message}",
															"type": "Expression"
														},
														"dataFactoryName": {
															"value": "@pipeline().DataFactory",
															"type": "Expression"
														},
														"pipelineName": {
															"value": "@pipeline().Pipeline",
															"type": "Expression"
														},
														"pipelineRunID": {
															"value": "@pipeline().RunId",
															"type": "Expression"
														},
														"pipelineTriggerID": {
															"value": "@pipeline().TriggerId",
															"type": "Expression"
														},
														"pipelineTriggerName": {
															"value": "@pipeline().TriggerId",
															"type": "Expression"
														},
														"pipelineTriggerTimestamp": {
															"value": "@pipeline().TriggerTime",
															"type": "Expression"
														},
														"pipelineTriggerType": {
															"value": "@pipeline().TriggerType",
															"type": "Expression"
														},
														"executionTimestamp": {
															"value": "@utcnow('yyyy-MM-dd HH:mm:ss')",
															"type": "Expression"
														},
														"isStart": "false",
														"isEnd": "false",
														"isError": "true",
														"isInnerActivity": "true",
														"isIncremental": "false",
														"objectName": {
															"value": "@item().objectName",
															"type": "Expression"
														},
														"objectSchema": {
															"value": "@item().objectSchema",
															"type": "Expression"
														},
														"dataSourceId": {
															"value": "@item().dataSourceId",
															"type": "Expression"
														},
														"dataProcessId": {
															"value": "@coalesce(null)",
															"type": "Expression"
														}
													}
												}
											},
											{
												"name": "copy wpq text files",
												"description": "copy tables to raw parquet",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.06:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "FileServerReadSettings",
															"recursive": true,
															"wildcardFolderPath": "\\\\temfs19\\ApplicationData\\WeldOffice\\WPQ",
															"wildcardFileName": "*.txt",
															"deleteFilesAfterCompletion": false
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings",
															"copyBehavior": "PreserveHierarchy"
														}
													},
													"enableStaging": false,
													"parallelCopies": 5,
													"validateDataConsistency": false
												},
												"inputs": [
													{
														"referenceName": "dsFileSystemWeldOffice",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "dsAdlsMangaedIdentityBinary",
														"type": "DatasetReference",
														"parameters": {
															"container": "raw",
															"folderPath": {
																"value": "@{item().dataSourceName}/wpq_export/@{formatDateTime(variables('localTimestamp'), 'yyyy')}/@{formatDateTime(variables('localTimestamp'), 'MM')}/@{formatDateTime(variables('localTimestamp'), 'dd')}",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "write to delta table_wpq",
												"description": "runs notebook to convert parquet to delta  table",
												"type": "DatabricksNotebook",
												"dependsOn": [
													{
														"activity": "copy wpq text files",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.01:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"notebookPath": "/data_engineering/100_raw_to_bronze/weld_office/raw_to_bronze_weld_office_wpq",
													"baseParameters": {
														"source_file_path": {
															"value": "@concat('/', item().dataSourceName, '/wpq_export/', formatDateTime(variables('localTimestamp'),'yyyy'), '/', formatDateTime(variables('localTimestamp'),'MM'), '/', formatDateTime(variables('localTimestamp'),'dd'))",
															"type": "Expression"
														},
														"datasource_name": {
															"value": "@item().dataSourceName",
															"type": "Expression"
														},
														"object_name": {
															"value": "wpq_export",
															"type": "Expression"
														},
														"primary_key_column_list": {
															"value": "@coalesce(item().primaryKeyColumns, '')",
															"type": "Expression"
														},
														"is_incremental": {
															"value": "@string(item().IsIncremental)",
															"type": "Expression"
														},
														"description": {
															"value": "@coalesce(item().description, '')",
															"type": "Expression"
														},
														"debug_flag": {
															"value": "@pipeline().parameters.debug",
															"type": "Expression"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "lsAdbClusterManagedIdentity",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "log operation metrics_wpq",
												"description": "log the output operation metrics ",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "write to delta table_wpq",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.00:05:00",
													"retry": 3,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[adf].[uspLogOperationMetric]",
													"storedProcedureParameters": {
														"deltaTableUpsertNumberSourceRows": {
															"value": {
																"value": "@activity('write to delta table_wpq').output.runOutput.numSourceRows",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"deltaTableUpsertNumberTargetRowsInserted": {
															"value": {
																"value": "@activity('write to delta table_wpq').output.runOutput.targetRowsInserted",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"deltaTableUpsertNumberTargetRowsUpdated": {
															"value": {
																"value": "@activity('write to delta table_wpq').output.runOutput.targetRowsUpdated",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"deltaTableInsertNumberOutputRows": {
															"value": {
																"value": "@activity('write to delta table_wpq').output.runOutput.numOutputRows",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"copyActivityRowsRead": {
															"value": {
																"value": "@activity('copy wpq text files').output.filesRead",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"copyActivityRowsWritten": {
															"value": {
																"value": "@activity('copy wpq text files').output.filesWritten",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"copyActivityObjectsRead": {
															"value": {
																"value": "@activity('copy wpq text files').output.filesRead",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"copyActivityCopyDuration": {
															"value": {
																"value": "@activity('copy wpq text files').output.copyDuration",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"copyActivityThroughput": {
															"value": {
																"value": "@activity('copy wpq text files').output.throughput",
																"type": "Expression"
															},
															"type": "Decimal"
														},
														"objectSchema": {
															"value": {
																"value": "@item().objectSchema",
																"type": "Expression"
															},
															"type": "String"
														},
														"objectName": {
															"value": {
																"value": "@item().objectName",
																"type": "Expression"
															},
															"type": "String"
														},
														"isIncremental": {
															"value": {
																"value": "@item().isIncremental",
																"type": "Expression"
															},
															"type": "Boolean"
														},
														"pipelineRunId": {
															"value": {
																"value": "@pipeline().RunId",
																"type": "Expression"
															},
															"type": "String"
														},
														"pipelineName": {
															"value": {
																"value": "@pipeline().Pipeline",
																"type": "Expression"
															},
															"type": "String"
														},
														"pipelineTriggerId": {
															"value": {
																"value": "@pipeline().TriggerId",
																"type": "Expression"
															},
															"type": "String"
														},
														"pipelineTriggerName": {
															"value": {
																"value": "@pipeline().TriggerName",
																"type": "Expression"
															},
															"type": "String"
														},
														"pipelineTriggerTimestamp": {
															"value": {
																"value": "@pipeline().TriggerTime",
																"type": "Expression"
															},
															"type": "Datetime"
														},
														"pipelineTriggerType": {
															"value": {
																"value": "@pipeline().TriggerType",
																"type": "Expression"
															},
															"type": "String"
														},
														"executionTimestamp": {
															"value": {
																"value": "@utcnow('yyyy-MM-dd HH:mm:ss')",
																"type": "Expression"
															},
															"type": "Datetime"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "lsAsqlManagedIdentity",
													"type": "LinkedServiceReference",
													"parameters": {
														"connectionString": "sec-metadata-db-connection-string"
													}
												}
											},
											{
												"name": "update metadata_wpq",
												"description": "update the lastExecution timestamp and recordCount in the metadata",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "write to delta table_wpq",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.00:05:00",
													"retry": 3,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[adf].[uspUpdateMetadataDataSource]",
													"storedProcedureParameters": {
														"dataSourceID": {
															"value": {
																"value": "@item().dataSourceId",
																"type": "Expression"
															},
															"type": "String"
														},
														"lastExecutionTimestamp": {
															"value": {
																"value": "@variables('utcTimestamp')",
																"type": "Expression"
															},
															"type": "Datetime"
														},
														"watermarkValue": {
															"value": {
																"value": "@variables('localTimestamp')",
																"type": "Expression"
															},
															"type": "Datetime"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "lsAsqlManagedIdentity",
													"type": "LinkedServiceReference",
													"parameters": {
														"connectionString": "sec-metadata-db-connection-string"
													}
												}
											},
											{
												"name": "log item end_wpq",
												"description": "end item logging",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "log operation metrics_wpq",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.00:05:00",
													"retry": 3,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[adf].[uspLogExecutionMessage]",
													"storedProcedureParameters": {
														"dataSourceId": {
															"value": {
																"value": "@item().dataSourceId",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"dataProcessId": {
															"value": {
																"value": "@coalesce(null)",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"executionLogSubject": {
															"value": {
																"value": "End of inner activity for pipeline: @{pipeline().Pipeline}",
																"type": "Expression"
															},
															"type": "String"
														},
														"executionLogMessage": {
															"value": "Ended copying objects and converting to delta tables",
															"type": "String"
														},
														"dataFactoryName": {
															"value": {
																"value": "@pipeline().DataFactory",
																"type": "Expression"
															},
															"type": "String"
														},
														"pipelineName": {
															"value": {
																"value": "@pipeline().Pipeline",
																"type": "Expression"
															},
															"type": "String"
														},
														"pipelineRunID": {
															"value": {
																"value": "@pipeline().RunId",
																"type": "Expression"
															},
															"type": "String"
														},
														"pipelineTriggerID": {
															"value": {
																"value": "@pipeline().TriggerId",
																"type": "Expression"
															},
															"type": "String"
														},
														"pipelineTriggerName": {
															"value": {
																"value": "@pipeline().TriggerName",
																"type": "Expression"
															},
															"type": "String"
														},
														"pipelineTriggerTimestamp": {
															"value": {
																"value": "@pipeline().TriggerTime",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"pipelineTriggerType": {
															"value": {
																"value": "@pipeline().TriggerType",
																"type": "Expression"
															},
															"type": "String"
														},
														"executionTimestamp": {
															"value": {
																"value": "@utcnow('yyyy-MM-dd HH:mm:ss')",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"isStart": {
															"value": "false",
															"type": "Boolean"
														},
														"isEnd": {
															"value": "true",
															"type": "Boolean"
														},
														"isError": {
															"value": "false",
															"type": "Boolean"
														},
														"isInnerActivity": {
															"value": "true",
															"type": "Boolean"
														},
														"isIncremental": {
															"value": "false",
															"type": "Boolean"
														},
														"objectName": {
															"value": {
																"value": "@item().objectName",
																"type": "Expression"
															},
															"type": "String"
														},
														"objectSchema": {
															"value": {
																"value": "@item().objectSchema",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "lsAsqlManagedIdentity",
													"type": "LinkedServiceReference",
													"parameters": {
														"connectionString": "sec-metadata-db-connection-string"
													}
												}
											}
										]
									},
									{
										"value": "process_expiry",
										"activities": [
											{
												"name": "update metadata",
												"description": "update the lastExecution timestamp and recordCount in the metadata",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "write to delta table",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.00:05:00",
													"retry": 3,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[adf].[uspUpdateMetadataDataSource]",
													"storedProcedureParameters": {
														"dataSourceID": {
															"value": {
																"value": "@item().dataSourceId",
																"type": "Expression"
															},
															"type": "String"
														},
														"lastExecutionTimestamp": {
															"value": {
																"value": "@variables('utcTimestamp')",
																"type": "Expression"
															},
															"type": "Datetime"
														},
														"watermarkValue": {
															"value": {
																"value": "@variables('localTimestamp')",
																"type": "Expression"
															},
															"type": "Datetime"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "lsAsqlManagedIdentity",
													"type": "LinkedServiceReference",
													"parameters": {
														"connectionString": "sec-metadata-db-connection-string"
													}
												}
											},
											{
												"name": "log item end",
												"description": "end item logging",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "update metadata",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.00:05:00",
													"retry": 3,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[adf].[uspLogExecutionMessage]",
													"storedProcedureParameters": {
														"dataSourceId": {
															"value": {
																"value": "@item().dataSourceId",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"dataProcessId": {
															"value": {
																"value": "@coalesce(null)",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"executionLogSubject": {
															"value": {
																"value": "End of inner activity for pipeline: @{pipeline().Pipeline}",
																"type": "Expression"
															},
															"type": "String"
														},
														"executionLogMessage": {
															"value": "Ended copying objects and converting to delta tables",
															"type": "String"
														},
														"dataFactoryName": {
															"value": {
																"value": "@pipeline().DataFactory",
																"type": "Expression"
															},
															"type": "String"
														},
														"pipelineName": {
															"value": {
																"value": "@pipeline().Pipeline",
																"type": "Expression"
															},
															"type": "String"
														},
														"pipelineRunID": {
															"value": {
																"value": "@pipeline().RunId",
																"type": "Expression"
															},
															"type": "String"
														},
														"pipelineTriggerID": {
															"value": {
																"value": "@pipeline().TriggerId",
																"type": "Expression"
															},
															"type": "String"
														},
														"pipelineTriggerName": {
															"value": {
																"value": "@pipeline().TriggerName",
																"type": "Expression"
															},
															"type": "String"
														},
														"pipelineTriggerTimestamp": {
															"value": {
																"value": "@pipeline().TriggerTime",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"pipelineTriggerType": {
															"value": {
																"value": "@pipeline().TriggerType",
																"type": "Expression"
															},
															"type": "String"
														},
														"executionTimestamp": {
															"value": {
																"value": "@utcnow('yyyy-MM-dd HH:mm:ss')",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"isStart": {
															"value": "false",
															"type": "Boolean"
														},
														"isEnd": {
															"value": "true",
															"type": "Boolean"
														},
														"isError": {
															"value": "false",
															"type": "Boolean"
														},
														"isInnerActivity": {
															"value": "true",
															"type": "Boolean"
														},
														"isIncremental": {
															"value": "false",
															"type": "Boolean"
														},
														"objectName": {
															"value": {
																"value": "@item().objectName",
																"type": "Expression"
															},
															"type": "String"
														},
														"objectSchema": {
															"value": {
																"value": "@item().objectSchema",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "lsAsqlManagedIdentity",
													"type": "LinkedServiceReference",
													"parameters": {
														"connectionString": "sec-metadata-db-connection-string"
													}
												}
											},
											{
												"name": "log operation metrics",
												"description": "log the output operation metrics ",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "write to delta table",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.00:05:00",
													"retry": 3,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[adf].[uspLogOperationMetric]",
													"storedProcedureParameters": {
														"deltaTableUpsertNumberSourceRows": {
															"value": {
																"value": "@activity('write to delta table').output.runOutput.numSourceRows",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"deltaTableUpsertNumberTargetRowsInserted": {
															"value": {
																"value": "@activity('write to delta table').output.runOutput.targetRowsInserted",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"deltaTableUpsertNumberTargetRowsUpdated": {
															"value": {
																"value": "@activity('write to delta table').output.runOutput.targetRowsUpdated",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"deltaTableInsertNumberOutputRows": {
															"value": {
																"value": "@activity('write to delta table').output.runOutput.numOutputRows",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"copyActivityRowsRead": {
															"value": {
																"value": "@activity('copy wpq pdf files').output.filesRead",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"copyActivityRowsWritten": {
															"value": {
																"value": "@activity('copy wpq pdf files').output.filesWritten",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"copyActivityObjectsRead": {
															"value": {
																"value": "@activity('copy wpq pdf files').output.filesRead",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"copyActivityCopyDuration": {
															"value": {
																"value": "@activity('copy wpq pdf files').output.copyDuration",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"copyActivityThroughput": {
															"value": {
																"value": "@activity('copy wpq pdf files').output.throughput",
																"type": "Expression"
															},
															"type": "Decimal"
														},
														"objectSchema": {
															"value": {
																"value": "@item().objectSchema",
																"type": "Expression"
															},
															"type": "String"
														},
														"objectName": {
															"value": {
																"value": "@item().objectName",
																"type": "Expression"
															},
															"type": "String"
														},
														"isIncremental": {
															"value": {
																"value": "@item().isIncremental",
																"type": "Expression"
															},
															"type": "Boolean"
														},
														"pipelineRunId": {
															"value": {
																"value": "@pipeline().RunId",
																"type": "Expression"
															},
															"type": "String"
														},
														"pipelineName": {
															"value": {
																"value": "@pipeline().Pipeline",
																"type": "Expression"
															},
															"type": "String"
														},
														"pipelineTriggerId": {
															"value": {
																"value": "@pipeline().TriggerId",
																"type": "Expression"
															},
															"type": "String"
														},
														"pipelineTriggerName": {
															"value": {
																"value": "@pipeline().TriggerName",
																"type": "Expression"
															},
															"type": "String"
														},
														"pipelineTriggerTimestamp": {
															"value": {
																"value": "@pipeline().TriggerTime",
																"type": "Expression"
															},
															"type": "Datetime"
														},
														"pipelineTriggerType": {
															"value": {
																"value": "@pipeline().TriggerType",
																"type": "Expression"
															},
															"type": "String"
														},
														"executionTimestamp": {
															"value": {
																"value": "@utcnow('yyyy-MM-dd HH:mm:ss')",
																"type": "Expression"
															},
															"type": "Datetime"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "lsAsqlManagedIdentity",
													"type": "LinkedServiceReference",
													"parameters": {
														"connectionString": "sec-metadata-db-connection-string"
													}
												}
											},
											{
												"name": "copy wpq pdf files",
												"description": "copy tables to raw parquet",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.06:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "FileServerReadSettings",
															"recursive": true,
															"wildcardFolderPath": "\\\\temfs19\\ApplicationData\\WeldOffice\\process_export",
															"wildcardFileName": "*.pdf",
															"deleteFilesAfterCompletion": false
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings",
															"copyBehavior": "PreserveHierarchy"
														}
													},
													"enableStaging": false,
													"parallelCopies": 5,
													"validateDataConsistency": false
												},
												"inputs": [
													{
														"referenceName": "dsFileSystemWeldOffice",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "dsAdlsMangaedIdentityBinary",
														"type": "DatasetReference",
														"parameters": {
															"container": "raw",
															"folderPath": {
																"value": "@{item().dataSourceName}/process_expiry/@{formatDateTime(variables('localTimestamp'), 'yyyy')}/@{formatDateTime(variables('localTimestamp'), 'MM')}/@{formatDateTime(variables('localTimestamp'), 'dd')}",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "write to delta table",
												"description": "runs notebook to convert parquet to delta  table",
												"type": "DatabricksNotebook",
												"dependsOn": [
													{
														"activity": "copy wpq pdf files",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.01:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"notebookPath": "/data_engineering/100_raw_to_bronze/weld_office/raw_to_bronze_weld_office_process_expiry",
													"baseParameters": {
														"source_file_path": {
															"value": "@concat('/', item().dataSourceName, '/process_expiry/', formatDateTime(variables('localTimestamp'),'yyyy'), '/', formatDateTime(variables('localTimestamp'),'MM'), '/', formatDateTime(variables('localTimestamp'),'dd'))",
															"type": "Expression"
														},
														"datasource_name": {
															"value": "@item().dataSourceName",
															"type": "Expression"
														},
														"object_name": {
															"value": "process_expiry",
															"type": "Expression"
														},
														"primary_key_column_list": {
															"value": "@coalesce(item().primaryKeyColumns, '')",
															"type": "Expression"
														},
														"is_incremental": {
															"value": "@string(item().IsIncremental)",
															"type": "Expression"
														},
														"description": {
															"value": "@coalesce(item().description, '')",
															"type": "Expression"
														},
														"debug_flag": {
															"value": "@pipeline().parameters.debug",
															"type": "Expression"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "lsAdbClusterManagedIdentity",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "error notification wpq_process expiry",
												"description": "log error and notify users if notifications are enabled",
												"type": "ExecutePipeline",
												"dependsOn": [
													{
														"activity": "write to delta table",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "plLogMsgAndSendEmail",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"metadataConnectionString": "sec-metadata-db-connection-string",
														"emailEnabled": {
															"value": "@pipeline().parameters.isEmailNotificationEnabled",
															"type": "Expression"
														},
														"emailNotificationSendToAddress": {
															"value": "@pipeline().parameters.emailNotificationSendToAddress",
															"type": "Expression"
														},
														"emailImportance": "High",
														"emailSubject": {
															"value": "Notebook Failure: @{pipeline().Pipeline}",
															"type": "Expression"
														},
														"emailMessage": {
															"value": "<b>Notebook:</b> /data_engineering/Source2Raw/Source2RawIncrementalLoad\n<br><b>ObjectSchema: </b> @{coalesce(item().ObjectSchema, '')}\n<br><b>ObjectName: </b> @{item().ObjectName}\n<br><b>Error Code: </b> @{activity('write to delta table').error.errorCode}\n\n<br><b>Message:</b> @{activity('write to delta table').error.message}",
															"type": "Expression"
														},
														"emailColor": "Red",
														"executionLogSubject": {
															"value": "End of inner activity for pipeline: @{pipeline().Pipeline}",
															"type": "Expression"
														},
														"executionLogMessage": {
															"value": "FAILURE: Notebook Failure: /data_engineering/Source2Raw/Source2RawIncrementalLoad\nError Code: @{activity('write to delta table').error.errorCode}\nMessage: @{activity('write to delta table').error.message}",
															"type": "Expression"
														},
														"dataFactoryName": {
															"value": "@pipeline().DataFactory",
															"type": "Expression"
														},
														"pipelineName": {
															"value": "@pipeline().Pipeline",
															"type": "Expression"
														},
														"pipelineRunID": {
															"value": "@pipeline().RunId",
															"type": "Expression"
														},
														"pipelineTriggerID": {
															"value": "@pipeline().TriggerId",
															"type": "Expression"
														},
														"pipelineTriggerName": {
															"value": "@pipeline().TriggerId",
															"type": "Expression"
														},
														"pipelineTriggerTimestamp": {
															"value": "@pipeline().TriggerTime",
															"type": "Expression"
														},
														"pipelineTriggerType": {
															"value": "@pipeline().TriggerType",
															"type": "Expression"
														},
														"executionTimestamp": {
															"value": "@utcnow('yyyy-MM-dd HH:mm:ss')",
															"type": "Expression"
														},
														"isStart": "false",
														"isEnd": "false",
														"isError": "true",
														"isInnerActivity": "true",
														"isIncremental": "false",
														"objectName": {
															"value": "@item().objectName",
															"type": "Expression"
														},
														"objectSchema": {
															"value": "@item().objectSchema",
															"type": "Expression"
														},
														"dataSourceId": {
															"value": "@item().dataSourceId",
															"type": "Expression"
														},
														"dataProcessId": {
															"value": "@coalesce(null)",
															"type": "Expression"
														}
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "error notification 1",
				"description": "notify users ",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "lookup objects",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "plLogMsgAndSendEmail",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"metadataConnectionString": "sec-metadata-db-connection-string",
						"emailEnabled": {
							"value": "@pipeline().parameters.isEmailNotificationEnabled",
							"type": "Expression"
						},
						"emailNotificationSendToAddress": {
							"value": "@pipeline().parameters.emailNotificationSendToAddress",
							"type": "Expression"
						},
						"emailImportance": "High",
						"emailSubject": {
							"value": "FAILURE: @{pipeline().Pipeline} Lookup Activity Failure",
							"type": "Expression"
						},
						"emailMessage": {
							"value": "<b>Error Code: </b>@{activity('lookup objects').error.errorCode}\n<br>\n<b>Message: </b>@{activity('lookup objects').error.message}",
							"type": "Expression"
						},
						"emailColor": "Red",
						"executionLogSubject": {
							"value": "Error during pipeline: @{pipeline().Pipeline}",
							"type": "Expression"
						},
						"executionLogMessage": "There was an error on the lookup activity of the pipeline",
						"dataFactoryName": {
							"value": "@pipeline().DataFactory",
							"type": "Expression"
						},
						"pipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"pipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"pipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"pipelineTriggerTimestamp": {
							"value": "@pipeline().TriggerTime",
							"type": "Expression"
						},
						"pipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"executionTimestamp": {
							"value": "@{utcnow('yyyy-MM-dd hh:mm:ss')}",
							"type": "Expression"
						},
						"isStart": "false",
						"isEnd": "false",
						"isError": "true",
						"isInnerActivity": "false",
						"isIncremental": "false",
						"objectName": {
							"value": "@coalesce(null)",
							"type": "Expression"
						},
						"objectSchema": {
							"value": "@coalesce(null)",
							"type": "Expression"
						},
						"dataSourceId": {
							"value": "@coalesce(null)",
							"type": "Expression"
						},
						"dataProcessId": {
							"value": "@coalesce(null)",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "set utc timestamp",
				"description": "set the UTC timestamp which will be later used as part of the downloaded filenames",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "utcTimestamp",
					"value": {
						"value": "@{utcnow('yyyy-MM-dd hh:mm:ss')}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "log pipeline end",
				"description": "log pipeline end",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "for each object",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:05:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adf].[uspLogExecutionMessage]",
					"storedProcedureParameters": {
						"dataSourceId": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"dataProcessId": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"executionLogSubject": {
							"value": {
								"value": "End of pipeline: @{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"executionLogMessage": {
							"value": "This is the end of the pipeline",
							"type": "String"
						},
						"dataFactoryName": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineTriggerID": {
							"value": {
								"value": "@pipeline().TriggerId",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineTriggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineTriggerTimestamp": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"pipelineTriggerType": {
							"value": {
								"value": "@pipeline().TriggerType",
								"type": "Expression"
							},
							"type": "String"
						},
						"executionTimestamp": {
							"value": {
								"value": "@utcnow('yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"isStart": {
							"value": "false",
							"type": "Boolean"
						},
						"isEnd": {
							"value": "true",
							"type": "Boolean"
						},
						"isError": {
							"value": "false",
							"type": "Boolean"
						},
						"isInnerActivity": {
							"value": "false",
							"type": "Boolean"
						},
						"isIncremental": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "Boolean"
						},
						"objectName": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "String"
						},
						"objectSchema": {
							"value": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lsAsqlManagedIdentity",
					"type": "LinkedServiceReference",
					"parameters": {
						"connectionString": "sec-metadata-db-connection-string"
					}
				}
			},
			{
				"name": "set local timestamp",
				"description": "set the UTC timestamp which will be later used as part of the downloaded filenames",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "localTimestamp",
					"value": {
						"value": "@convertTimeZone(utcnow(), 'UTC', 'Pacific Standard Time', 'yyyy-MM-dd HH:mm:ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "success notification",
				"description": "notify users ",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "log pipeline end",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "plLogMsgAndSendEmail",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"metadataConnectionString": "sec-metadata-db-connection-string",
						"emailEnabled": {
							"value": "@pipeline().parameters.isEmailNotificationEnabled",
							"type": "Expression"
						},
						"emailNotificationSendToAddress": {
							"value": "@pipeline().parameters.emailNotificationSendToAddress",
							"type": "Expression"
						},
						"emailImportance": "Low",
						"emailSubject": {
							"value": "SUCCESS: @{pipeline().Pipeline}",
							"type": "Expression"
						},
						"emailMessage": {
							"value": "The pipeline @{pipeline().Pipeline} finished successfully",
							"type": "Expression"
						},
						"emailColor": "Green",
						"executionLogSubject": {
							"value": "Successful pipeline execution: @{pipeline().Pipeline}",
							"type": "Expression"
						},
						"executionLogMessage": {
							"value": "The pipeline @{pipeline().Pipeline} finished successfully",
							"type": "Expression"
						},
						"dataFactoryName": {
							"value": "@pipeline().DataFactory",
							"type": "Expression"
						},
						"pipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"pipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"pipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"pipelineTriggerTimestamp": {
							"value": "@pipeline().TriggerTime",
							"type": "Expression"
						},
						"pipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"executionTimestamp": {
							"value": "@{utcnow('yyyyMMddTHH:mm:ss')}",
							"type": "Expression"
						},
						"isStart": "false",
						"isEnd": "true",
						"isError": "false",
						"isInnerActivity": "false",
						"isIncremental": "false",
						"objectName": {
							"value": "@coalesce(null)",
							"type": "Expression"
						},
						"objectSchema": {
							"value": "@coalesce(null)",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "error notification 2",
				"description": "log error and notify users if notifications are enabled",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "for each object",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "plLogMsgAndSendEmail",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"metadataConnectionString": "sec-metadata-db-connection-string",
						"emailEnabled": {
							"value": "@pipeline().parameters.isEmailNotificationEnabled",
							"type": "Expression"
						},
						"emailNotificationSendToAddress": {
							"value": "@pipeline().parameters.emailNotificationSendToAddress",
							"type": "Expression"
						},
						"emailImportance": "High",
						"emailSubject": {
							"value": "FAILURE: Error during pipeline: @{pipeline().Pipeline}",
							"type": "Expression"
						},
						"emailMessage": {
							"value": "There was an error during the ForEach activity of the pipeline @{pipeline().Pipeline}",
							"type": "Expression"
						},
						"emailColor": "Red",
						"executionLogSubject": {
							"value": "Error during pipeline: @{pipeline().Pipeline}",
							"type": "Expression"
						},
						"executionLogMessage": {
							"value": "There was an error during the ForEach activity of the pipeline @{pipeline().Pipeline}",
							"type": "Expression"
						},
						"dataFactoryName": {
							"value": "@pipeline().DataFactory",
							"type": "Expression"
						},
						"pipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"pipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"pipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"pipelineTriggerTimestamp": {
							"value": "@pipeline().TriggerTime",
							"type": "Expression"
						},
						"pipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"executionTimestamp": {
							"value": "@{utcnow('yyyy-MM-dd HH:mm:ss')}",
							"type": "Expression"
						},
						"isStart": "false",
						"isEnd": "false",
						"isError": "true",
						"isInnerActivity": "false",
						"isIncremental": "false",
						"objectName": {
							"value": "@coalesce(null)",
							"type": "Expression"
						},
						"objectSchema": {
							"value": "@coalesce(null)",
							"type": "Expression"
						},
						"dataSourceId": {
							"value": "@coalesce(null)",
							"type": "Expression"
						},
						"dataProcessId": {
							"value": "@coalesce(null)",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"dataSourceName": {
				"type": "string",
				"defaultValue": "weld_office"
			},
			"batchGroup": {
				"type": "string",
				"defaultValue": "-"
			},
			"objectSchema": {
				"type": "string",
				"defaultValue": "-"
			},
			"objectName": {
				"type": "string"
			},
			"isEmailNotificationEnabled": {
				"type": "string",
				"defaultValue": "true"
			},
			"emailNotificationSendToAddress": {
				"type": "string"
			},
			"debug": {
				"type": "string",
				"defaultValue": "false"
			}
		},
		"variables": {
			"isError": {
				"type": "Boolean"
			},
			"metadataConnectionString": {
				"type": "String",
				"defaultValue": "sec-metadata-db-connection-string"
			},
			"localTimestamp": {
				"type": "String"
			},
			"utcTimestamp": {
				"type": "String"
			},
			"test": {
				"type": "String"
			}
		},
		"folder": {
			"name": "100_sourceToBronze/FileSystem"
		},
		"annotations": [],
		"lastPublishTime": "2023-07-20T18:43:03Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}